/* ==========================
   RESET CSS
========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================
   VARIABLES
========================== */

:root {
    --primary:#111827;
    --secondary:#3B82F6;
    --background:#F8FAFC;
    --white:#FFFFFF;
    --text:#1F2937;
    --border:#E5E7EB;
    --textNavbar:#555;
    --messageErreur:#EF4444;
    --colormessage:#991B1B;
    --resultAffiche:#10B981;
    --resultColor:#065F46;
    --infoDivision:#1E40AF;
}

/* ==========================
  LE CORPS
========================== */
body  {
    font-family:'Poppins', sans-serif;;
    background: var(--background);
    color: var(--text);
}


